import Logo from '~/assets/images/notbroke-logo.svg';

<header class="...">
  <div class="...">
    <a class="flex items-center" href="/">
      <img src={Logo} alt="NotBroke.US" width="150" height="40" class="dark:invert" />
    </a>
    <!-- ... rest of header ... -->
  </div>
</header>

